body {
  background: rgb(33, 37, 41, 0.99) !important;
}
body::-webkit-scrollbar {
  display: none !important;
}
.bg-portrait {
  position: relative;
}
@media only screen and (min-width: 1600px) {
  .row-about {
    padding-bottom: 8vh !important;
    }
  .h5-Other {
      padding-bottom: 8vh !important
    }
  .h5-Technical {
      padding-bottom: 8vh !important
    }
    .contactMe{
      padding-bottom: 14vh !important;
    }
}
@media only screen and (max-width: 991.20px) {
  .row-about {
    display: none !important;
    }
  .col-about{
    display: contents !important;
    }
    .contactMe{
      text-align: center !important;
    }
}

@media only screen and (max-width: 768px) {
  
  #contactCol{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    }
  .col-about h5 {
    padding-bottom: 20px !important;
  }
  .text-center h1 {
    font-size: 2rem !important;
  }
  .text-center p {
    font-size: 1rem !important;
    font-family: Roboto Mono, monospace !important;
  }
  #landingPage {
    height: 65vh !important;
  }
  .card-text{
    font-size: 0.85em !important;
    padding-right: 16px !important;
  }
  .text{
    font-size: 1.1em !important;
    padding-right: 12px !important;
    text-align:center !important;
  }
  
  #aboutRow{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  #skillsrow{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  #landing{
    background: rgb(33, 37, 41, 0.99) !important;
  }
  #about{
    background: rgb(33, 37, 41, 0.99) !important;
  }
  #skills{
    background: rgb(33, 37, 41, 0.99) !important;
  }
  #contact{
    background: rgb(33, 37, 41, 0.99) !important;
  }
  .accordion-item{
    font-size: 0.85em !important;
  }
  .thanks{
    font-size: 2.5rem !important;
  }
  .footer{
    font-family: Lobster, cursive, sans-serif !important;
    font-size: 12px !important;
    word-spacing: 2px !important;
  }

}
.card-text{
  font-size: 0.9em;
  padding: 16px;
  padding-top: 1vh;
  padding-bottom: 3vh;
  background-color: #606d7b;
  color: #f3f3f2
  
}
.text{
  color: #f3f3f2;
  margin: 0px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.25rem !important;

}

#card-header2{
  background-color: rgba(238, 238, 242) !important;
  border: none !important;
  color:#3b424a !important;
}

.card-header{
padding: 0px !important;
padding-top: 1vh !important;
padding-bottom: 1vh !important;
padding-left: 0.7em !important;
background-color: #3b424a !important;
color: #f3f3f2 !important;
border-radius: 0px !important;
user-select: none;
font-family: Ubuntu, sans-serif !important;
font-size: 15px !important;
border-bottom-left-radius: 0px !important;
border-bottom-right-radius: 0px !important;
border-top-right-radius: 100px  !important;
border-color: lightgray !important;


}
.card-body{
padding: 0px !important;
font-family: Ubuntu, sans-serif !important;

}
.card{
border-radius: 0px !important;
border-top-right-radius: 6px !important;
border-color: #3b424a !important;
}

.accordion-item {
  background-color: #424c56 !important;
  color: #fff !important;
  
  text-align: left !important;
  font-size: 0.9em;

  outline: none !important;
  border-radius: 0px !important;

}

.accordion-button {
  background-color: #30363c !important;
  color: white !important;
  border-radius: 0px !important;
  padding: 0.75vh !important; 
  padding-left: 0px !important;
  padding-right: 10px !important;
  font-family: Roboto Mono, monospace !important;
  font-size: 15px !important; 
  min-height: 52px !important;
}

.accordion-button:not(.collapsed)::after {
  color: #fff !important;
}
.accordion-button:not(.collapsed) {
  background-color: #424c56 !important;
  color: white !important;
}
.accordion-button:not(.collapsed)::before {
  border-color: #222 !important;
}

.accordion-header button:focus,
.accordion-header button:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #222 !important;
}
.read-more-link {
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-decoration: none !important;
  color: black !important;
  font-size: 14px !important;
  font-family: Ubuntu, sans-serif !important;
  font-weight: bold !important;
}
.footer{
  background-color: rgba(33, 37, 41, 0.99);
  color: gray;
  text-align: center;
  padding: 0px !important;
  word-spacing: 5px;
  font-size: 15px;
  font-family: Lobster, cursive, sans-serif;
  bottom: 0 !important;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.thanks{
  position: absolute; /* Add this line to position the h1 element */
  top: 50%; /* Add this line to position the h1 element at the vertical center of .footer */
  left: 50%; /* Add this line to position the h1 element at the horizontal center of .footer */
  transform: translate(-50%, -50%); /* Add this line to adjust the position of the h1 element */
  margin: 0; /* Add this line to remove the default margin of h1 */
  text-align: center !important;
  font-family: Ubuntu, sans-serif !important;
  font-size: 3.5rem;
  color:#f3f3f2;
  user-select: text;
}

.text-center h1 {

  overflow: hidden ; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 0.5s steps(30, end) 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  user-select: none;
}

.text-center p {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1rem solid rgb(132, 165, 157);
  animation: typing 0.75s steps(30, end) 1.3s, blink-caret 1.25s step-end infinite 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  user-select: none;
}

ul {
  font-family: "Ubuntu, sans-serif" !important;
}
.list-group-item {
  background-color: rgba(238, 238, 242) !important;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  font-size: 16px !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  border-top: none !important;



}
@keyframes typing {
  0% {
    width: 0;
    border-right-color: transparent;
    opacity: 1; /* Set opacity to 0 at the start */
  }
  100% {
    width: 100%;
    border-right-color: transparent;
    opacity: 1; /* Set opacity to 1 at the end */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(132, 165, 157);
  }
}
